---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";

const websitesData = StashDirectories[3];
---

<PageLayout title={websitesData.title} description={websitesData.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Favorite Websites
			</h1>
		</div>
	</Container>
</PageLayout>
