---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@data/consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
	<Container
		><div class="flex justify-start items-center gap-5">
			<img
				src="/tino.jpg"
				alt="thermodynamic monk"
				class="h-20 w-20 rounded-full object-cover animate"
			/>
			<div class="flex flex-col">
				<h2 class="animate font-semibold text-black dark:text-white">
					Tinodaishe Tembo
				</h2>
				<h4 class="animate">digital craftsman</h4>
			</div>
		</div>

		<div class="space-y-16 mt-7">
			<section>
				<article class="space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						crafting a delightful web.
					</h4>
					<p class="animate">
						I'm a programmer and designer who enjoys decoding
						signals from the void through code and pixel
						experiments. I design and build digital experiences with
						an emphasis on aesthetic, performance, and usability.
						With my toolset of design, full-stack engineering, and
						2D/3D illustration, I collaborate with cross-functional
						teams to improve and deliever scalable web experiences.
					</p>
					<p class="animate">
						I'm motivated by creating joyful, intuitive
						interactions, with an obsession for the small details.
						Driven by a passion for good design, I strive to help
						make the internet better. I enjoy learning and am
						thrilled by a challenge.
					</p>
					<p class="animate">
						When I'm no at my computer, I like to study Japanese and
						tinker with my synths. I also enjoy reading science
						fiction, my favorites being the three body problem
						trilogy and Dune.
					</p>
				</article>
			</section>
		</div>
	</Container>
</PageLayout>
