---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";
import Link from "@components/Link.astro";

const websitesData = StashDirectories[3];
import { oculars } from "@data/ocular";
---

<PageLayout title={websitesData.title} description={websitesData.description}>
	<Container>
		<div class="space-y-10 animate">
			<HomeButton />
			<Link href="/res">Resources</Link>
			<h1
				class="animate font-semibold text-lg text-black dark:text-white"
			>
				Stuff
			</h1>
			<div class="animate columns-1 sm:columns-2 no-underline">
				{
					oculars.map((ocular) => (
						<a href={ocular.link} target="_blank">
							<img
								src={ocular.url}
								alt=""
								class="rounded-lg mb-4 hover:brightness-90 transition-all duration-300 ease-in-out"
							/>
						</a>
					))
				}
			</div>
			<div class="animate space-y-2">
				<p class="text-xs text-zinc-400 animate uppercase">
					<strong>WIP</strong>
				</p>
			</div>
		</div>
	</Container>
</PageLayout>
