---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";

const websitesData = StashDirectories[3];
import { oculars } from "@data/ocular";
---

<PageLayout title={websitesData.title} description={websitesData.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-lg text-black dark:text-white"
			>
				Stuff
			</h1>
			<h5 class="text-xs text-zinc-400 animate uppercase">
				Do Not Own These btw; Copyrighted to their owners
			</h5>
			<div class="animate columns-1 sm:columns-2">
				{
					oculars.map((ocular) => (
						<img class="rounded-md mb-4" src={ocular.url} alt="" />
					))
				}
			</div>
		</div>
	</Container>
</PageLayout>
