---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";
import Link from "@components/Link.astro";
---

<PageLayout title="Colophon" description="A Description of the site You're On">
	<Container>
		<div class="space-y-10 animate">
			<HomeButton />
			<h1 class="font-semibold text-xl text-black dark:text-white">
				Colophon
			</h1>
			<div class="space-y-2">
				<h5 class="font-semibold animate text-black dark:text-white">
					Typography
				</h5>
				<p>
					Loving the <Link href="https://vercel.com/font" external
						>Geist</Link
					> typeface for this site. It's a versatile replacement for <Link
						href="https://rsms.me/inter/"
						external>Inter</Link
					>
					and <Link href="https://www.jetbrains.com/lp/mono/" external
						>JetBrains Mono</Link
					> in my <em>opinion</em>, designed by the awesome folks at <Link
						href="https://vercel.com"
						external>Vercel</Link
					>
				</p>
			</div>
			<div class="space-y-2">
				<h5 class="font-semibold animate text-black dark:text-white">
					Icon
				</h5>
				<p>
					I call it the <strong>thermodynamic monk</strong>. Its just
					a cool pfp I started using in 2021 during the NFT era and it
					has stuck with me ever since.
				</p>
			</div>
			<div class="space-y-2">
				<h5 class="font-semibold animate text-black dark:text-white">
					Technology
				</h5>
				<p>
					Built with <Link href="https://astro.dev" external
						>Astro</Link
					>, <Link href="https://tailwindcss.com">Tailwind CSS</Link> and
					TypeScript. Hosted on
					<Link href="https://vercel.com" external>Vercel</Link>
				</p>
				<p>
					Spotify data is kept current through daily updates from the
					<Link
						href="https://developer.spotify.com/documentation/web-api"
						external>Spotify Web API</Link
					>. For optimal performance, large files are managed using <Link
						href="https://supabase.com/"
						external>Supabase</Link
					>
					Buckets
				</p>
			</div>
			<div class="space-y-2">
				<h5 class="font-semibold animate text-black dark:text-white">
					Open Source
				</h5>
				<p>
					This site is powered by Astro's <Link
						href="https://github.com/markhorn-dev/astro-nano"
						external>nano</Link
					> starter template, available on GitHub as <Link
						href="https://github.com/x0bd/xoboid"
						external>open source</Link
					>.
				</p>
			</div>
		</div>
	</Container>
</PageLayout>
