---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";

const toolsData = StashDirectories[1];
---

<PageLayout title={toolsData.title} description={toolsData.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Apps & Tools
			</h1>
		</div>
	</Container>
</PageLayout>
