<div class="mt-12 lg:md:w-1/12 w-1/6">
	<a href="/" class="flex justify-start items-center gap-5">
		<img
			src="/xoboid.jpg"
			alt="xoboid"
			class="h-10 w-10 rounded-full animate"
		/>
	</a>
</div>
