---
import Container from "./Container.astro";
---

<div class="mt-10">
	<Container>
		<a href="/" class="flex justify-start items-center gap-5">
			<img
				src="/xoboid.jpg"
				alt="xoboid"
				class="h-12 w-12 rounded-full animate"
			/>
			<div class="flex flex-col">
				<h2
					class="animate font-semibold font-mono text-md text-black dark:text-white"
				>
					x0bd_
				</h2>
				<h2 class="animate">design engineer</h2>
			</div>
		</a>
	</Container>
</div>
