---
import type { tool } from "@data/tools";

type Props = tool;

const { name, description, link, category } = Astro.props;
---

<a
	target="_blank"
	href={`${link}`}
	class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-2xl border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
	<div>
		<div class="flex flex-col">
			<div class="flex items-center flex-1 truncate gap-2">
				<div class="font-semibold">
					{name}
				</div>
				<h5
					class="uppercase font-mono text-[11px] text-zinc-400 dark:text-zinc-500 font-bold"
				>
					{category}
				</h5>
			</div>
			<div class="text-sm">
				{description}
			</div>
		</div>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			class="absolute top-1/2 right-2 -translate-y-[60%] size-5 stroke-2 -rotate-45 fill-none stroke-current"
		>
			<line
				x1="5"
				y1="12"
				x2="19"
				y2="12"
				class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
			></line>
			<polyline
				points="12 5 19 12 12 19"
				class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
			></polyline>
		</svg>
	</div>
</a>
