---
import type { tool } from "@data/tools";

type Props = tool;

const { name, description, link, category } = Astro.props;
---

<a
	target="_blank"
	href={`${link}`}
	class="relative group flex felx-nowrap py-3 px-4 rounded-xl border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover-bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
	<div class="flex flex-col flex-1 truncate">
		<div class="flex items-center justify-between">
			<div class="font-semibold">
				{name}
			</div>
			<h5 class="uppercase text-xs font-semibold">
				{category}
			</h5>
		</div>
		<div class="text-sm">
			{description}
		</div>
	</div>
</a>
